<div class="container-fluid">
    <h3>
        Lista de Vehiculos
    </h3>
    <div class="col-12">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Placa</th>
                    <th>Color</th>
                    <th>Marca</th>
                    <th>Modelo</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let v of vehiculos">
                    <td>{{vehiculo.placa}}</td>
                    <td>{{vehiculo.marca}}</td>
                    <td>{{vehiculo.modelo}}</td>
                    <td>{{vehiculo.color_vehiculo_nombre}}</td>
                    <td><button class="btn btn-primary" type="button" (click)="onEditarNavigate(v.id) title="Editar">
                            Editar
                    </button>&nbsp;</td>
                </tr>
        </table>
    </div>
</div>